<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{title}}-Mircoblog</title>
    {% else%}
    <title>Welcome-Microblog</title>
    {% endif %}

  </head>
  <body>

    <a href="{{ url_for('logout') }}">Logout</a>

    <div>Microblog: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }} </li>
      {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

    {% block content %}{% endblock %}

  </body>
</html>
